/.idea/AnsiblePlaybook.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/songsLyricsGenerator.iml
/.idea/vcs.xml
/.idea/workspace.xml
/data/
/.idea/other.xml
*.log